#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.maindiv{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: cover;
  min-height: 100vh;
  background-color: rgb(254, 254, 232);
}

@media only screen and (max-width: 800px) {

  .maindiv {
    height: 400vh;
    background-size: contain;
  }

  .transparency-container {
    height: 390vh;
  }

}