#root {
  margin: 0 auto;
  text-align: center;
}

.maindiv{
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  width: 100%;
  height: cover;
  min-height: 100vh;
  background-color: rgb(250, 191, 91);
}