@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Shrikhand&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(35, 35, 39, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
