
.users-body{
    background-color: rgb(233, 216, 193);
    width: 70vw;
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
}

.users-body h3 {
    font-size: 2.2rem;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.profile-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    width: 200px;
    height: 280px;
    background-color: rgb(239, 228, 213);
    border: 1px solid rgba(255, 166, 0, 0.446);
    border-radius: 10px;
}

.friends-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.following-name{
    margin: 20px;
    font-size: 1.2rem;
    margin: 20px auto 0 auto;
    background-color: rgb(234, 218, 158);
    border-radius: 5px;
    padding: 2px 10px;
}

.unfollowing-name {
    margin: 20px;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.profile-pic {
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
}

.follow-btn {
    font-size: 0.8rem;
    margin: 0 auto;
    margin-top: 20px;
    padding: 4px 6px;
    border-radius: 4px;
    width: 80px;
}

.follow-btn:hover {
    background-color: rgb(255, 149, 0);
    color: white;
    cursor: pointer;
}