.bookshelves-body{
    width: 90%;
    margin: 20px auto;
    padding-bottom: 40px;
    border-bottom: 2px;
    border-radius: 20px;
}

.bookshelves-body h1 {
    font-size: 2.5rem;
}

.shelf-backdrop{
    border: 1px solid black;
    padding: 40px;
    background-color: rgb(233, 216, 193);
}

.shelf-backdrop .shelf-title {
    font-size: 1.8rem;
    padding-left: 40px;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
}

.bookcard {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 4px;
}

.shelf-covers {
    height: 230px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    align-items: center;
}

.cover {
    margin: 0;
    padding: 0;
    height: 200px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.534);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.list-icons {
    padding: 2px;
}

.list-icons:hover {
    cursor: pointer;
    background-color: rgba(255, 205, 130, 0.911);
    border-radius: 50px;
}
