
.book-searchbar {
    display: flex;
    align-items: center;
    background-color: rgba(166, 88, 24, 0.834);
    margin-top: 5%;
    justify-content: center;
    width: 65%;
    margin: 80px auto;
    margin-bottom: 10px;
    padding: 40px;
    border-radius: 5px;
    padding-right: 50px;
}

#findbook-input {
    border-radius: 50px;
    padding-left: 30px;
    font-weight: 800;
    box-shadow: 0 0 0 0.25rem transparent;
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    margin: 0 auto;
}

#findbook-input:focus-visible, #findbook-input:focus {
    outline: none;
    border: 1px solid rgba(103, 77, 43, 0.7);
    box-shadow: 0 0 0 0.05em rgba(205, 135, 50, 0.25);
}

.srch-icon {
    margin-left: -50px;
    width: 40px;
    font-size: 1.8rem;
}

.srch-icon:hover {
    background-color: rgba(247, 220, 161, 0.681);
    border-radius: 50px;
    font-size: 1.85rem;
}

.booksearch {
    padding: 60px 0;
}

#booksearch-results {
    background-color: #fff3dcf7;
    border: 1px solid #574003ec;
    padding: 10px;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.book-img {
    justify-self: center;
}

#add-btn, #read-btn, #current-btn {
    text-wrap: nowrap;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 210, 151);
    border: none;
    color: black;
    margin: 10px 0;
    border-radius: 5px;
    padding: 6px 5px;
    font-size: 0.9rem;
}

#read-btn {
    background-color: rgba(121, 89, 8, 0.379);
}

#current-btn {
    background-color: rgba(170, 105, 26, 0.513);
}

.btn-icon {
    padding-right: 4px;
}

#add-btn:hover , #read-btn:hover, #current-btn:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}