
.myhomediv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;}
  

.bookies-logo {
    width: 35%;
    min-width: 350px;
    height: 150px;
    object-fit: cover;
}

.signupbuttons {
    padding: 20px;
    background-color: rgb(104, 201, 246);
    border-radius: 20px;
    margin-right: 40px;
}

#currentuser {
    align-self: center;
    font-family: 'Shrikhand', serif;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px rgb(255, 241, 227);
    text-wrap: nowrap;
}

#findbooks-btn {
    background: green;
    font-family: 'Quicksand', sans-serif;
    text-wrap: nowrap;
}

#mybooks-btn {
    font-family: 'Quicksand', sans-serif;
    text-wrap: nowrap;
}

.logout-btn {
    align-self: center;
}

#logout-btn {
    font-family: 'Quicksand', sans-serif;
    color: rgb(46, 35, 29);
    margin: 0;
    text-wrap: nowrap;
}

#logout-btn:hover {
    color: rgb(149, 86, 49);
}

@media only screen and (max-width: 800px) {

    .myhomediv {
        margin: 30px 0;
        flex-direction: column-reverse;
    }

    .bookies-logo {
        margin: -30px;
        width: 70%;
    }

    .signupbuttons {
        margin: 0;
        flex-wrap: none;
    }

}