.signupbuttons {
    padding: 20px;
    background-color: rgb(104, 201, 246);
    border-radius: 20px;
    margin-right: 40px;
}

#currentuser {
    align-self: center;
}

#findbooks-btn {
    background: green;
}
