.roulette-container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 40px;
}

.roulette-container h2 {
    margin: 15px 0;
}

.cover-img {
    height: 100px;
    transition: height 0.6s ease-in-out;
}