.signupbuttons {
    padding: 20px;
    background-color: rgb(104, 201, 246);
    border-radius: 20px;
    margin-right: 40px;
}

#findbooks-btn {
    background: green;
}

#mybooks-btn {
    background: yellow;
}

#signup-heading {
    margin: 30px 0;
}