
.chatbot-icon {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 70px;
    z-index: 2;
}

.chatbot-icon:hover {
    cursor: pointer;
}

.chat-body{
    background-color: rgb(80, 62, 34);
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 500px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
    text-align: left;
    z-index: 1;
}

.chat-input {
    line-height: 2;
    border-radius: 8px;
    border: 2px solid white;
    background-color: whitesmoke;
    padding-left: 20px;
    width: 80%;
    margin-top: 20px;
}

.convoline {
    margin: 20px 10px;
}

.assistant {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(234, 225, 203);
    color: black;
}

.user {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: rgb(234, 218, 158);
    color: black;
}